<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank" href="http://github.com/bhumycka">Bhumycka,</a> a coding noob.
</p>
<p>
	This is Bhumycka's first web application!
</p>
<p>
If you want to know more about her, click <a target="_blank" href="https://ca.linkedin.com/in/bhumycka">here</a>
</p>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'mischa.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Bhumycka Patel</h2>
    <br />
    <p>
      Bhumycka is a graphic designer, graduate student, communication researcher and soon-to-be web developer. In her spare time, she likes to watch movies, listen to music or go for long walks.
    </p>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />